
.para
{
display:inline-block;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color:#f40f0f;
    color:#eeeeee;
    margin:0;
    padding:0;

}
.container{
    max-width: 1200px;
    margin:0 auto;
    padding:0 20px;
}
nav{
    position:sticky;
    top:0;
    background-color:#45120a ;
    padding: 10px;
}

nav ul{
list-style-type: none;
margin:0px;
padding:0;
float:right;
}

nav h1{
    margin:0;
    display:inline;
}

nav ul li{
    display:inline;
    margin-left: 10px;
}

nav ul li a{
    color:rgb(0, 255, 174);
    text-decoration: none;
    transition: 0.5s;
}

nav ul a:hover{
    padding:10px;
    background-color:#e3c77d;
    color:rgb(221, 46, 46);
}
.img
{
    border-style: double;

}

header{
    background-color:rgb(216, 29, 29) ;
    padding: 20px 0;    
}

.profile{
    display:flex;
    align-items:center;
}
.profile-info{
    margin-left: 20px;
}
.profile-pic{
    width:150px;
    height:150px;
    border-radius: 50px;
    border:5px solid #6d0505;
    margin-right: 20px;
}

main{
    padding:50px 0;
}

section{ 
    margin-bottom: 40px;
}

section  h2{
    color:rgb(0, 0, 0);
}

#contact{
    background-color: #ce2323ee;
    text-align: center;
    padding:10px;
}

.contact-head
{
    margin-bottom:20px;
}

.contact-info{
    color:#e0e01a;
}

.contact-info p{
    margin-bottom:0 ;
}

.contact-info ul{
    life-style-type: none;
    padding:0;
}

.contact-info ul li{
    display:inline;
    margin:0 10px;
}

.insta{
    width:70px;
    height:70px;
    border-radius:25%;
}

.insta:hover{
    opacity:0.7;
    cursor:pointer;
}

.snap{
    width:80px;
    height:80px;
    border-radius:100%;
}

.snap:hover{
    opacity:0.7;
    cursor:pointer;
}

